#include ".colorthemes/rootdigga2.xresources"
URxvt*font: xft:Liberation Mono for Powerline:pixelsize=11
! urxvt.url-launcher:     /usr/bin/firefox
! urxvt.matcher.button:   1
! urxvt.colorUL: #4682B4

URxvt.perl-ext-common:  default,clipboard
URxvt.clipboard.autocopy: true
URxvt.scrollBar:        false
URxvt.xftAutoHint:			true

Xft.dpi:                96
Xft.antialias:          1
Xft.autohint:						0
Xft.hinting:            1
Xft.rgba:								rgb
Xft.hintstyle:					hintfull
Xft.lcdfilter:					lxddefault

URxvt.depth:            32
URxvt..background:      [95]#1c1c1c
URxvt.iso14755: 	      false

URxvt.keysym.C-C: 			perl:clipboard:copy
URxvt.keysym.C-V: 			perl:clipboard:paste
URxvt.keysym.C-A-V: 		perl:clipboard:paste_escaped

